
@media all{
    body > *{
        padding: 0px 15px;
    }
    body > section{
        margin-bottom: 150px;
    }

    #logos a{
        display:block;
        padding: 10px;
        height: 80px;
        text-align: center;
    }

    .navbar{
        margin-bottom: 0px;
    }

    .calculadora ul{
        list-style-type: none;
    }

    .calculadora > ul > li{
        height:100px;
        display: block;
        width: 100%;
        padding: 15% 10% 10%;
        vertical-align: middle;
    }

    .calculadora .panel{
        margin-top: 60px;

    }
    
    .map-box{
        display: inline-block;
        position: relative;
        width: 100%;
        padding-bottom: 100%;
        vertical-align: middle;
        overflow: hidden;
    }

    .map-box > svg{
        display: inline-block;
        position: absolute !important;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
}

/*Custom font for numbers*/
@font-face{
    font-family: "bebas";
    src: url("fonts/BebasNeue.otf");
}